<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="cmp53B07BB21F5AFE76F5469BD1F4BA65C9" Guid="{F94AE60F-3741-4392-98E2-AE3C90B73EA9}">
                <File Id="fil8CC3C83921B00F72D50A1E4EEB792DFE" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\AudioSwitcher.AudioApi.CoreAudio.dll" />
            </Component>
            <Component Id="cmp8243CB1E312705B4BA74BC791635270C" Guid="{2D600617-04F0-4326-9A50-B1574BEE6FD5}">
                <File Id="filC0B7F66C67664353137460031E28BC1B" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\AudioSwitcher.AudioApi.dll" />
            </Component>
            <Component Id="cmp493DD683A43D05F764F3DEEF08ECA4C6" Guid="{C9EFE417-63F4-4D9B-A228-CA938D284698}">
                <File Id="filC8194EB99DFB64B8589F5D80DC8E3B4D" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\AutoUpdater.NET.dll" />
            </Component>
            <!--<Component Id="cmp357CADF4E916AADB1DD6BD7938986798" Guid="{02FA1010-E6D4-4976-8B7F-1B7A29C032CD}">
                <File Id="fil900464E773972F43219693B12A52EDE2" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\AutoUpdater.NET.pdb" />
            </Component>-->
			<Component Id="cmp357CADF3E913AADB2DD6BD3938986798" Guid="{12FF1010-E6D4-4972-8B1F-1B7A29C032DF}">
				<File Id="fil900464F733D72F43219693B12A52EDE2" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\BootMeUp.dll" />
			</Component>
            <!--<Component Id="cmp78B9C7C9D51B2878B72DCBACE49DE398" Guid="{7C47A814-6D6C-4FCD-8667-57AB408D657C}">
                <File Id="filDE7F24A649EB60701DC0EC41FE83CBBE" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\CircularProgressBar.dll" />
            </Component>-->
            <Component Id="cmp7EE113DB90D07F08FCE70C1861DEA947" Guid="{1E72FC84-ACAD-4A17-85B4-4D14A745882F}">
                <File Id="DisplayMagicianExe" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\DisplayMagician.exe" />
            </Component>
			<Component Id="cmp9D1888EBD88D49E39F2827A52DDBE819" Guid="{9D1888EB-D88D-49E3-9F28-27A52DDBE819}">
				<File Id="DisplayMagicianConsoleExe" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\DisplayMagicianConsole.exe" />
			</Component>
            <Component Id="cmpCF520827D65E51E3ECB59344A6F528D0" Guid="{13A3918C-64B7-40B5-8AFE-362620B43184}">
                <File Id="fil2841FB135B81D3B7EF6634B1E3E562DA" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\DisplayMagician.exe.config" />
            </Component>
            <!--<Component Id="cmp20CF355FCD243C61CF66FB91F20BEA24" Guid="{9EDC542A-48AE-480F-82AA-EAD88207A38D}">
                <File Id="fil00FEE1F8F6F3766FD0431A9B72F4FCC7" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\DisplayMagician.pdb" />
            </Component>-->
            <Component Id="cmp936B3459EEFF10D8EB978B7DD0F9FDDA" Guid="{725E0C5E-EEE0-4D5D-AD9D-90D193D50CFF}">
                <File Id="fil44F64B4F8FBBEAA84A71077F7F3B6B4D" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\DisplayMagician.Shared.dll" />
            </Component>
            <!--<Component Id="cmpEFA0EED8369E2F430E0ED6D9EB027553" Guid="{43D90CFF-1B51-4C5A-9346-463616C42998}">
                <File Id="fil52BE9F94EBFDF8C5CFEC426A17966F40" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\DisplayMagician.Shared.pdb" />
            </Component>-->
            <Component Id="cmpE8833A8E220525D7707A018B20CEDD87" Guid="{EBC27E33-6C4D-4612-BC5F-AC0A09DDD636}">
                <File Id="filD4FD53D2FBF78674DBC3A1B446B44FC5" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\EDIDParser.dll" />
            </Component>			
            <Component Id="cmpC13B4DB64E30D03117ECF099B1A9CD9C" Guid="{36C70104-58C9-497D-9775-38E65F1809CD}">
                <File Id="fil44FFB513E29A8346713440B4BCB7F1E6" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\IconExtractor.dll" />
            </Component>
            <Component Id="cmp6AB92D1CF70395670A490E1B9BD347DE" Guid="{F3E775D7-8086-4922-AB65-2CA46CBB394D}">
                <File Id="fil4DD582D50D7AC9DDD5292A76257854FA" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\IconLib.dll" />
            </Component>
            <Component Id="cmp23C6CFB3962E9B4E2A7E8EF56F20A99F" Guid="{C2852F65-B3BC-4D96-B7E3-83D11B783CFC}">
                <File Id="fil0F18A66FBBBB6C44A052B9FB77ACD8F8" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\IconPicker.dll" />
            </Component>
            <Component Id="cmp5069692C1912B298A026EA30A39A2F36" Guid="{D4058D15-E089-4DAB-8CF7-4AA14F094703}">
                <File Id="fil15BCAD6A05EB985A23A6B9DE3EFEB933" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\ImageListView.dll" />
            </Component>
			<Component Id="cmp5069692C1912B298A026EA30A3823321" Guid="{5796A8D9-7991-4C6E-9782-C9736A5927FB}">
				<File Id="fil15BCAD6A05EB985A23A6B9DE3E823321" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\Interop.IWshRuntimeLibrary.dll" />
			</Component>
			<Component Id="cmp6B91543EC1EAFC09F3C7747C1333F99A" Guid="{C7189742-5B1D-4323-89D6-E91FD58A5F99}">
                <File Id="fil34AC49C1FA6CC0335FB4F16BCD03AA7B" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\McMaster.Extensions.CommandLineUtils.dll" />
            </Component>
            <Component Id="cmp8A11CDCDF04C29EC9CA9A0C1D0D78B04" Guid="{5ECD1594-F851-4CE4-996C-6892EF8EA05A}">
                <File Id="fil151DD1163831E94E80724A88F88C2231" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\Microsoft.Toolkit.Uwp.Notifications.dll" />
            </Component>
            <Component Id="cmpA6AEEDB3EBF416E3AD000E7408FE3402" Guid="{AC91358C-DB0E-4DD7-8C45-2558D3372277}">
                <File Id="filA93EB7C7565EEDD39AF3362752AE09DB" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\MintPlayer.IconUtils.dll" />
            </Component>
            <Component Id="cmpA7927FF61A499CF81EE0A562CDFEDEC7" Guid="{6D08FDFC-F2BA-462E-A678-6DAABBE3A2C8}">
                <File Id="filD7DC5F43B3964ACECD7725F05E664960" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
			<Component Id="cmp5590028E220525D7707A018B20CE3822" Guid="{EBC27E33-6C4D-4612-BD5F-DC0A09DDD559}">
				<File Id="filD45593D2FBF78674DBC3A1B446B44559" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\NHotkey.dll" />
			</Component>
			<Component Id="cmpFF90028E220525D7707A018B20CE3822" Guid="{EBC27E33-6C4D-4612-BD5F-FF0A09DDD559}">
				<File Id="filDFF593D2FBF78674DBC3A1B446B44559" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\NHotkey.WindowsForms.dll" />
			</Component>
			<Component Id="cmpC64ECA245317593760E42F3996F3A079" Guid="{AF290F63-703E-441F-86C8-2F00DADDEF9B}">
                <File Id="fil5299F0448E950048C778AA65A04FB498" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\NLog.dll" />
            </Component>
			<Component Id="cmp8C52E948AAB2D43DF696BB7D003A8E45" Guid="{3C8F90C4-CFD5-4B8C-9929-44239BAECE95}">
				<File Id="fil1965347683EC48A269FE672473CD04C5" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\protobuf-net.Core.dll" />
			</Component>
			<Component Id="cmp8C52E948AAB2D4F322455234322A8E45" Guid="{3D8F90C4-FFD5-4B8C-9929-42339BAECE91}">
				<File Id="fil19658443928748A269FE672473CD04C5" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\protobuf-net.dll" />
			</Component>
            <Component Id="cmpBEC07D0236076B07E4E7D7632CCA69CB" Guid="{9845F3EB-281F-4BB1-9B88-5B5D454F0977}">
                <File Id="fil8C59ED1965E9E2D1C82459BE5C1E903E" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\QueryString.NETCore.dll" />
            </Component>
			<Component Id="cmp7662BF27A2D0CB01FFDEAC0A17A0850E" Guid="{62327FF7-0212-4CAB-BCB1-DE54E5965A03}">
				<File Id="fil657D20B233D2855D5699D59E41AC4E61" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\System.ValueTuple.dll" />
			</Component>
			<Component Id="cmpA8825A49786C04320E75BCFC8E961667" Guid="{0251CC67-EF00-4307-BA6D-AAF348203A52}">
                <File Id="filD5FED76D92088BA98BD9CF7D4D9B7EF2" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\ValveKeyValue.dll" />
            </Component>
			<Component Id="cmpAE5FC77E7BB7E9CB720EF7CEE118A4CE" Guid="{25A74C53-3692-4567-9F21-BD02146E6329}">
                <File Id="filD448167ABB54E447850BA2A203C5FCA1" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\WinCopies.Util.dll" />
            </Component>
            <Component Id="cmpB76F273FDED5EA841158E966B403CFC8" Guid="{66364E96-D089-4ACD-A6AA-CF06A5ABC5FB}">
                <File Id="fil8A5957F9C3DCF1A6D414F9F34402CB53" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\WinCopies.WindowsAPICodePack.Win32Native.Consts.dll" />
            </Component>
            <Component Id="cmp7DD29D6442A6E450B2316729EA2C0F1D" Guid="{6C0C5BB3-D0B5-415F-AAB5-703ED99CBF25}">
                <File Id="fil9DF3290031BCB652454E62345D1FAE6B" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\WinCopies.WindowsAPICodePack.Win32Native.dll" />
            </Component>			
            <!--<Component Id="cmp27AC6F10258FA1C97C54F3C1D153D122" Guid="{06BD97C2-07D8-4032-842C-AD16D1560803}">
                <File Id="fil01CF08752F4284E3144706F10481AEA0" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\WinFormAnimation.dll" />
            </Component>-->
			<Component Id="cmp44AC6F10258FA1C97C54F3C1D153D144" Guid="{44BD9992-0448-4099-842C-AD16D1560899}">
				<File Id="fil44CF08752F4284E3144706F10481AE45" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\YamlDotNet.dll" />
			</Component>
			<Component Id="cmp43CBAB0FA1E5BC0D644986539E5BD28B" Guid="{FD7CC9FD-92EF-4F11-B5DA-679406DBA52D}">
				<File Id="fil43CBAB0FA1E5BC0D644986539E5BD285" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\System.Buffers.dll" />
			</Component>
			<Component Id="cmpD6046E9FF7D2F0974D390F769EBB3CCC" Guid="{833996F7-259F-4B67-B7FF-45688DBE2B0C}">
				<File Id="filD6046E9FF7D2F0974D390F769EBB3CC5" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\System.Collections.Immutable.dll" />
			</Component>
			<Component Id="cmpA809EC8EFE6C9D623A9A9F81E98A4EB5" Guid="{29372F1B-0887-4249-A615-63A6521DB415}">
				<File Id="filA809EC8EFE6C9D623A9A9F81E98A4EB6" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\System.Drawing.Common.dll" />
			</Component>
			<Component Id="cmpA16DB2114AB68F120A2C838F831673F5" Guid="{5BA436DA-DD32-48A7-BF9C-97F141B14BB8}">
				<File Id="filA16DB2114AB68F120A2C838F831673F6" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\System.Memory.dll" />
			</Component>
			<Component Id="cmp1AA1063749A646E4F0503C0B23C95909" Guid="{455074F1-5079-428B-AAD7-9FCFD81F2715}">
				<File Id="fil1AA1063749A646E4F0503C0B23C95905" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\System.Numerics.Vectors.dll" />
			</Component>
			<Component Id="cmpCDDE936F29A669E69BD66B25670BE7F3" Guid="{00378BE6-D93E-4751-AF47-4E82E22C6E70}">
				<File Id="filCDDE936F29A669E69BD66B25670BE7F5" KeyPath="yes" Source="$(var.DisplayMagician.TargetDir)\System.Runtime.CompilerServices.Unsafe.dll" />
			</Component>
		</DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DisplayMagicianFiles">
            <ComponentRef Id="cmp53B07BB21F5AFE76F5469BD1F4BA65C9" />
            <ComponentRef Id="cmp8243CB1E312705B4BA74BC791635270C" />
            <ComponentRef Id="cmp493DD683A43D05F764F3DEEF08ECA4C6" />
            <!--<ComponentRef Id="cmp78B9C7C9D51B2878B72DCBACE49DE398" />-->
            <ComponentRef Id="cmp7EE113DB90D07F08FCE70C1861DEA947" />
            <ComponentRef Id="cmpCF520827D65E51E3ECB59344A6F528D0" />
            <ComponentRef Id="cmp936B3459EEFF10D8EB978B7DD0F9FDDA" />
            <ComponentRef Id="cmpE8833A8E220525D7707A018B20CEDD87" />
            <ComponentRef Id="cmpC13B4DB64E30D03117ECF099B1A9CD9C" />
            <ComponentRef Id="cmp6AB92D1CF70395670A490E1B9BD347DE" />
            <ComponentRef Id="cmp23C6CFB3962E9B4E2A7E8EF56F20A99F" />
            <ComponentRef Id="cmp5069692C1912B298A026EA30A39A2F36" />
            <ComponentRef Id="cmp6B91543EC1EAFC09F3C7747C1333F99A" />
            <ComponentRef Id="cmp8A11CDCDF04C29EC9CA9A0C1D0D78B04" />
            <ComponentRef Id="cmpA6AEEDB3EBF416E3AD000E7408FE3402" />
            <ComponentRef Id="cmpA7927FF61A499CF81EE0A562CDFEDEC7" />
            <ComponentRef Id="cmpC64ECA245317593760E42F3996F3A079" />
			<ComponentRef Id="cmp9D1888EBD88D49E39F2827A52DDBE819" />			
			<ComponentRef Id="cmpBEC07D0236076B07E4E7D7632CCA69CB" />
			<ComponentRef Id="cmp7662BF27A2D0CB01FFDEAC0A17A0850E" />
			<ComponentRef Id="cmpAE5FC77E7BB7E9CB720EF7CEE118A4CE" />
            <ComponentRef Id="cmpB76F273FDED5EA841158E966B403CFC8" />
            <ComponentRef Id="cmp7DD29D6442A6E450B2316729EA2C0F1D" />
			<ComponentRef Id="cmp5590028E220525D7707A018B20CE3822" />
			<ComponentRef Id="cmpFF90028E220525D7707A018B20CE3822" />
			<ComponentRef Id="cmpA8825A49786C04320E75BCFC8E961667" />
			<ComponentRef Id="cmp5069692C1912B298A026EA30A3823321" />
            <!--<ComponentRef Id="cmp27AC6F10258FA1C97C54F3C1D153D122" />-->
            <ComponentRef Id="cmp357CADF3E913AADB2DD6BD3938986798" />
			<ComponentRef Id="cmp8C52E948AAB2D43DF696BB7D003A8E45" />
			<ComponentRef Id="cmp8C52E948AAB2D4F322455234322A8E45" />
			<ComponentRef Id="cmp44AC6F10258FA1C97C54F3C1D153D144" />
			<ComponentRef Id="cmp43CBAB0FA1E5BC0D644986539E5BD28B" />
		    <ComponentRef Id="cmpD6046E9FF7D2F0974D390F769EBB3CCC" />
			<ComponentRef Id="cmpA809EC8EFE6C9D623A9A9F81E98A4EB5" />
			<ComponentRef Id="cmpA16DB2114AB68F120A2C838F831673F5" />
			<ComponentRef Id="cmp1AA1063749A646E4F0503C0B23C95909" />
			<ComponentRef Id="cmpCDDE936F29A669E69BD66B25670BE7F3" />
			</ComponentGroup>
    </Fragment>
</Wix>