<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="DisplayMagicianComponents" Directory="INSTALLFOLDER">
			<Component>
				<RegistryKey Root="HKLM" Key="Software\DisplayMagician" ForceDeleteOnUninstall="yes"/>
				<RegistryValue Root="HKLM" Key="Software\DisplayMagician" Name="Version" Value="!(bind.fileVersion.DisplayMagicianExe)"/>
				<RegistryValue Root="HKLM" Key="Software\DisplayMagician" Name="InstallDate" Value="[Date]"/>
				<RegistryValue Root="HKLM" Key="Software\DisplayMagician" Name="InstallDir" Value="[INSTALLFOLDER]"/>
			</Component>
			<Component>
				<RegistryKey Root="HKCU" Key="Software\DisplayMagician" ForceDeleteOnUninstall="yes"/>
				<RegistryValue Root="HKCU" Key="Software\DisplayMagician" Name="FirstRun" Value="1"/>
			</Component>
			<Component Id="ApplicationShortcut" Guid="6C7BFB9E-8549-4E34-BE44-E1A718146755">
				<Shortcut Name="DisplayMagician" Description="!(loc.ProductDescription)" Target="[INSTALLFOLDER]DisplayMagician.exe"
					  WorkingDirectory="INSTALLFOLDER" Advertise="yes" Icon="DisplayMagicianIcon.exe">
					<!--AUMID-->
					<ShortcutProperty Key="System.AppUserModel.ID" Value="LittleBitBig.DisplayMagician" />
					<!--COM CLSID-->
					<ShortcutProperty Key="System.AppUserModel.ToastActivatorCLSID" Value="{56F14154-6339-4B94-8B82-80F78D5BCEAF}" />
				</Shortcut>
			</Component>
			<File Source="$(var.DisplayMagician.TargetDir)publish\win-x64\DisplayMagician.exe" Id="DisplayMagicianExe" />
			<File Source="$(var.DisplayMagician.TargetDir)publish\win-x64\WebView2Loader.dll" />
		</ComponentGroup>
		<ComponentGroup Id="DisplayMagicianConsoleComponents" Directory="INSTALLFOLDER">
			<Component>
				<File Source="$(var.DisplayMagicianConsole.TargetDir)publish\win-x64\DisplayMagicianConsole.exe" />
			</Component>
		</ComponentGroup>		
	</Fragment>
</Wix>
