<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="DisplayMagician Setup" Manufacturer="LittleBitBig" Version="!(bind.fileVersion.DisplayMagicianExe)" UpgradeCode="33E22B4C-982F-4B02-A3DE-085693742DB5">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" AllowSameVersionUpgrades="yes"/>

		<Feature Id="Main">
			<ComponentGroupRef Id="DisplayMagicianComponents" />
			<ComponentGroupRef Id="DisplayMagicianConsoleComponents" />
		</Feature>
	</Package>
</Wix>
