<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util" 
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui" 
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
	<Package Name="DisplayMagician" Manufacturer="LittleBitBig" Version="!(bind.fileVersion.DisplayMagicianExe)" UpgradeCode="33E22B4C-982F-4B02-A3DE-085693742DB5">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" AllowSameVersionUpgrades="yes" />

		<!-- Make a single setup exe by embedding the cab within the setup.exe -->
		<MediaTemplate EmbedCab="yes" />
		
		<!-- Set the icon to show next to the program name in Add/Remove programs -->
		<Property Id="ARPPRODUCTICON" Value="DisplayMagician.ico" />
		
		<!-- Installer UI custom pictures. File names are made up. Add path to your pics -->
		<WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.png" />
		<WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.png" />
		<WixVariable Id="WixUILicenseRtf" Value="EULA_en-us.rtf" />
		
		<!-- This will ask the user to close the DisplayMagician app if it's running while upgrading -->
		<util:CloseApplication Id="CloseDisplayMagician" CloseMessage="no" Description="!(loc.MustCloseDisplayMagician)" ElevatedCloseMessage="no" RebootPrompt="no" Target="DisplayMagician.exe" />		
		
		<!-- Use the built in WixUI_InstallDir GUI -->
		<ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
		
		<UI>
			<!-- Add in some text styles to make the text white -->
			<TextStyle Id="White_Normal" FaceName="Tahoma" Size="8" Red="255" Green="255" Blue="255" />
			<TextStyle Id="White_Title" FaceName="Tahoma" Size="9" Bold="yes" Red="255" Green="255" Blue="255" />
		
			<!-- These dialog references are needed for CloseApplication above to work correctly -->
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			
			<!-- Automatically start DisplayMagician -->
			<Publish Dialog="ExitDialog" Control="Finish"  Event="DoAction"	 Value="LaunchApplication" />
			
		</UI>
		
		<!-- Set our executable (its ID) as custom action target -->
		<Property Id="WixShellExecTarget" Value="[#DisplayMagicianExe]"/>

		<!-- Run launch application  custom action -->
		<CustomAction Id="LaunchApplication"
			BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
			DllEntry="WixShellExec"
			Impersonate="yes" />
					
		<!-- Set application components that will be installed -->
		<Feature Id="Main">
			<ComponentGroupRef Id="DisplayMagicianComponents" />
			<ComponentGroupRef Id="DisplayMagicianConsoleComponents" />
		</Feature>
	</Package>
</Wix>
