<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmpBD0A0533F40E0B874A023E467EE15884" Guid="{9E252AC3-A9E2-4271-A836-CE1A0DB41573}">
                <File Id="fil4C17B0D8A1167A78DB06FAABB5128E48" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\AudioSwitcher.AudioApi.CoreAudio.dll" />
            </Component>
            <Component Id="cmp1978460F20832AFD58CEFD336AAAA41B" Guid="{B1C9564E-2139-4D9E-82EC-325294B33702}">
                <File Id="fil92D10CB9DD9C2F6D65022C362303A01F" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\AudioSwitcher.AudioApi.dll" />
            </Component>
            <Component Id="cmpB6DCEBC121FFE67E27945FC59FAF34EB" Guid="{D1D8FC7E-47DA-4495-92AF-7589D4E50DDE}">
                <File Id="fil7ABE94A3C314EC0C3136C0157C33CA21" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\AutoUpdater.NET.dll" />
            </Component>
            <Component Id="cmp32E7E4241B870E8E1272B218DAFC18BD" Guid="{A0D0659E-8D02-48B3-BD47-3854038CF932}">
                <File Id="fil9F175C8FEACC74CA04349855C1B662A9" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\AutoUpdater.NET.pdb" />
            </Component>
            <Component Id="cmp0BFD48C29EF7E91136AE7ECB2562A439" Guid="{7C257836-2E19-4F56-85BE-8B452F1956E3}">
                <File Id="fil0FFAD7737931E9EEF891817E676A5F76" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\CircularProgressBar.dll" />
            </Component>
            <Component Id="cmpC627D6669C8B7F6118B278B985611D23" Guid="{83884D9B-0E7C-49FE-9AF6-3DCB35148FD8}">
                <File Id="fil494F3C121DAECC3F76C20D7C096C7BC5" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\DisplayMagician.exe" />
            </Component>
            <Component Id="cmpCDC1AACC3E4B47262615C1CF34C96FDC" Guid="{250AE88F-BF30-4F1F-9096-03B36F94F48E}">
                <File Id="fil77D26E1B67AD540F5834D9920B42F24F" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\DisplayMagician.exe.config" />
            </Component>
            <Component Id="cmpBC67EE8B6ADC74240F4BA176F17FA2E7" Guid="{863A2F09-7073-49F2-B700-6ED211931505}">
                <File Id="filE26162A5F46BEB1D56A2594C1A1AC999" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\DisplayMagician.pdb" />
            </Component>
            <Component Id="cmp85F426B2D7B7BE110260F69908CF89DC" Guid="{D08BBC86-A447-4E46-8161-5DBF7740EB29}">
                <File Id="filC8384C8C912AFA89A3E04DC60C8F3435" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\DisplayMagician.Shared.dll" />
            </Component>
            <Component Id="cmp079376624ED9003D040D434FD0AD79FC" Guid="{231B5C6C-FD35-4364-9AC3-D89241F06298}">
                <File Id="fil0C4BCA2C88059E0B2B383EB35ACA08B9" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\DisplayMagician.Shared.pdb" />
            </Component>
            <Component Id="cmpE03B764D1598084EA84F72C0DC54A5FE" Guid="{215E8DB1-98C8-4E0D-BEC0-98C60EFDC138}">
                <File Id="fil6C34EA41DEE6DDE2872AD7D4621058B4" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\DisplayMagicianShellExtension.dll" />
            </Component>
            <Component Id="cmpFA9BAE6E0F706FE8C2FB87226A21172A" Guid="{54DE6126-F5CC-42B3-AD6B-489A72B94B29}">
                <File Id="filA371B7953F2BB8391D1F8458D683079B" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\DisplayMagicianShellExtension.pdb" />
            </Component>
            <Component Id="cmp03435CB09F2E9F019BAA38AE75428254" Guid="{4BB16EF8-2542-472C-9091-B71D38D93D1E}">
                <File Id="filBC272C58432E02E698865174349D0E05" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\EDIDParser.dll" />
            </Component>
            <Component Id="cmp2776B662029F8701F5335F0DF08E554F" Guid="{C7AB573F-875D-428E-A11E-E175B05E7FA1}">
                <File Id="fil8C05FEAC04235CDBA853630807C24809" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\HtmlAgilityPack.dll" />
            </Component>
            <Component Id="cmpA038AEB808EE721D74BCE483FE0CF5C4" Guid="{8E567C6E-35EB-40AD-A0EF-4A063A5C7729}">
                <File Id="filFB7CF8A0E43ACB661913A0E02FDDCD11" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\HtmlAgilityPack.pdb" />
            </Component>
            <Component Id="cmp04AD32E960B2A9FBA1822AE873954545" Guid="{7C4A777B-F3FB-4B5B-A352-3F444D8B88E4}">
                <File Id="filEA9147DB83A2C0F65371B43F4D9C9BCB" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\IconExtractor.dll" />
            </Component>
            <Component Id="cmp48136D75F10658FE78119AADF6F1725A" Guid="{478EF650-A33B-4C7B-90F0-8AF2D183EFDF}">
                <File Id="fil84FFF5217D881EA07D3B9D2D538F7AE8" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\IconLib.dll" />
            </Component>
            <Component Id="cmpE3BF3E5AF0925FB86E3F382572243621" Guid="{3DE8C956-9275-41ED-B159-AE3AF36BCBBB}">
                <File Id="fil0A93B7A09C08D0A230B2C949A8AA5304" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\IconPicker.dll" />
            </Component>
            <Component Id="cmp618EC65A5E4D9E8FEBB887B76DA4FD50" Guid="{3F4F9229-5BD3-4EF7-A812-0A3AA9BA6882}">
                <File Id="fil78062F10F05E50F2506C12C4B217E151" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\ImageListView.dll" />
            </Component>
            <Component Id="cmp875F9AB6D5D996C61588EFA96C16CB26" Guid="{A59B21FB-CA6C-44FE-BC18-46BE1BD3490C}">
                <File Id="fil3B270748720CCFAA24387517AB8FF3FF" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\LogReporter.exe" />
            </Component>
            <Component Id="cmp1AE47A82DB5E00D1488DE0C214B82747" Guid="{77E99484-5443-41F6-A578-E48ED3BA902C}">
                <File Id="fil645AD0FF1C2BEDCD684F41EA8688B73A" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\LogReporter.exe.config" />
            </Component>
            <Component Id="cmp3C945FD02B7EBC852A737F0B9EA06402" Guid="{49D7E54F-3573-4D0B-BB98-150B40BA615B}">
                <File Id="filC104ADE5B3714AABC35E4D29B909E535" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\LogReporter.pdb" />
            </Component>
            <Component Id="cmp9822C8E3EA9DED31B19647D3BEF403FF" Guid="{1FB6BA30-0CEF-4C43-B92B-19A7CE5270C6}">
                <File Id="fil3E9465C169638FDC17B20EB6A1B0BF4D" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\McMaster.Extensions.CommandLineUtils.dll" />
            </Component>
            <Component Id="cmpECA87B17F9BBA2AE63349CE09D7514F3" Guid="{7A109499-4AA8-4BD8-86B9-606A78A9BBE0}">
                <File Id="filC0D7D34F5027CC5C711404C26E1C74C4" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\Microsoft.Toolkit.Uwp.Notifications.dll" />
            </Component>
            <Component Id="cmpC7A842805FA293C91E6B671E1E4857CB" Guid="{CCD44B95-B5AD-490F-8861-9F9EF171DB98}">
                <File Id="fil7F4E71A0451AD02B2EAE01D281D242D1" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\Microsoft.Toolkit.Uwp.Notifications.pdb" />
            </Component>
            <Component Id="cmp49B14D6F63FD6F782375E764F888D9F6" Guid="{E9243541-FF9F-49A8-96D3-ADEA23C0B1F3}">
                <File Id="filB77C4B64126F698E45A7DA791BDB4DB9" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\MintPlayer.IconUtils.dll" />
            </Component>
            <Component Id="cmpE48528C4F5932A4EFD89F7331108F45D" Guid="{B63BEA94-D028-40F5-B020-B9FE808E99D8}">
                <File Id="filF1B84C2C6BCC693224B7A7959445B74F" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp0758E167CC73C057A0ECE2DC5E35F506" Guid="{CAD401DE-BF37-410C-9E4B-DF86DF02F10C}">
                <File Id="fil61D8D3E960CBBF3448E98CF5D5492B82" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\NLog.dll" />
            </Component>
            <Component Id="cmp24DB16B950576B6883BCB451D9881EBC" Guid="{B1B36B57-A637-463C-94CA-E9743E37392C}">
                <File Id="fil2EE7C5C495E3AB1AC7458B4EC0C9D6FA" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\NvAPIWrapper.dll" />
            </Component>
            <Component Id="cmp46530108D41744F25886A5898DC5A274" Guid="{5AC24854-1BAA-409C-AC4C-88330837BC1D}">
                <File Id="fil85B076D4C5F8142F16F909C45A7CDC9E" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\QueryString.NETCore.dll" />
            </Component>
            <Component Id="cmpE475EAC321A295365F62D280DFFFCFDD" Guid="{74B90189-3AFB-4499-AB70-FEBD1D26C4EC}">
                <File Id="filC778B8BCCE4C543832118259908D143D" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\QueryString.NETCore.pdb" />
            </Component>
            <Component Id="cmp35AEFE57A4E4F326AB35BB1BFAC10ABC" Guid="{D77485A9-8D02-49A9-99D7-74073CA5C793}">
                <File Id="filEAC63730569977F90ACD168AAD355C82" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\ServerRegistrationManager.exe" />
            </Component>
            <Component Id="cmpBF2E14544E7404D9716B1E616AFF1821" Guid="{D3D4A86F-CB3B-498C-985E-F39C9D03B8C5}">
                <File Id="filB3D88EA6FA1A17CF31BA69CA52ED367C" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\SharpShell.dll" />
            </Component>
            <Component Id="cmpA97212A22F03B19D8D9FB95C1B706F67" Guid="{8D1CFCEC-9C7F-4468-98D8-DD6F92F9DD16}">
                <File Id="filDD1B5F5F06ECE1BB9340F6D6E605F66C" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmp7964C303BA027BE990A3E8327EC91498" Guid="{E827A1EC-AF0A-4194-8F1A-0A2D8A7160E4}">
                <File Id="fil4F3DC2E517A3ADABE5047501AC692728" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp5C0F2F2987EC8A4E1ABFC07281B44BC0" Guid="{FF9C0D70-2E1D-4F01-AD70-0A178E6BC876}">
                <File Id="fil817D8F2ACA83169F37944BCA193C33A4" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\ValveKeyValue.dll" />
            </Component>
            <Component Id="cmp6C1CA4699436E48FBC65429D3DDE3729" Guid="{5D708839-0269-4AB3-9981-8724C741F2BF}">
                <File Id="fil51D5FE7B16ABC635EDA85484998C6933" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\WindowsDisplayAPI.dll" />
            </Component>
            <Component Id="cmpCA92E5DFCB483577A26FEC321AFD558D" Guid="{8D00AF96-41F7-4B97-838B-28348B9FB23A}">
                <File Id="fil544EB8EEB0462E3B5707E7102161835A" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\WinFormAnimation.dll" />
            </Component>
            <Directory Id="dirBDEF052B2576CF9365A2D0E000A240F9" Name="ar">
                <Component Id="cmp4533A51FA0E8641930679AD37424B8B9" Guid="{6F3CD511-DD42-4045-9817-EF68E4704A41}">
                    <File Id="filF3758524BE9C3ABCE40D87629C673C18" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\ar\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir1C3D787E1A6537A1AC7450DEBBB621D8" Name="cs">
                <Component Id="cmpB8E69B802F308C31E92E32AB958DAF68" Guid="{718EE802-8C61-4F31-B90E-2064072112B2}">
                    <File Id="fil12637BCCCB56BECA8444E55A912DA159" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\cs\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir9E7B3AF1734850560874B26C769E072C" Name="da">
                <Component Id="cmp7806D754FCAB20844210E15AE6C04EBE" Guid="{B8D78154-22AB-4DEE-9C38-B1606AB14811}">
                    <File Id="fil9FFD1C98F8DE06D17A0CC3FF98E5936C" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\da\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB27348B57A5DB473BF7C6C7DF00A5DBA" Name="de">
                <Component Id="cmp040780EB1A6483479A96E102B7E22681" Guid="{F43B79CC-1530-4B51-9292-17877DC420A2}">
                    <File Id="fil9AD235E083DC8DEF92331B132A05959B" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\de\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir562D8D513850F1ADE7FBC3F03925F40D" Name="es">
                <Component Id="cmpC488B4BB40BA5248FFBD28351333AEE2" Guid="{AC13A2DF-A523-4921-AA24-831AB0C106A2}">
                    <File Id="filB7AEDD98BBD6A14C33FCC1D98E9735CB" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\es\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir72226116A8527C99EDF529487A911522" Name="fr">
                <Component Id="cmpB1D2F10332449DEAAAAE97A0E648E9C0" Guid="{20661849-90F1-4AFE-AC69-CE8DC57F08D6}">
                    <File Id="filFF20F561B08D3234BC482D24C196AD83" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\fr\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir35E624903EE34E687FB4AA2ED234EDEB" Name="it">
                <Component Id="cmpA69B8A712387D3B90D6813098B05C34A" Guid="{A9DFE5A6-97B7-483A-AF82-205B148EBA81}">
                    <File Id="fil2D9EDE43E581C5EF8945CEE55BC949C7" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\it\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirBFA76CA2FD807FBC75C9577ED4EFA0D5" Name="ja-JP">
                <Component Id="cmpC4DF80F866A83C22E8A0E9C8FC25C9C1" Guid="{AD3AA284-7DD0-4897-80C3-B2D1E05A6753}">
                    <File Id="fil7F7345572F76E3B2B39945B731C396E0" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\ja-JP\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir36D6CA8E5A6770CE8A5D00823F5A6613" Name="ko">
                <Component Id="cmp7C71840B04F7F507D8FA41923689CDF2" Guid="{A48CB415-F212-4850-9E2A-4645DCA6BFFF}">
                    <File Id="fil13140B2D039385BDE51EFB5A048E0237" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\ko\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir8FBB90DDC324F6321DFF9F2D6D84E64E" Name="nl">
                <Component Id="cmp564BF443013A98EBC72A01B8D461D8B0" Guid="{C9B827FB-43B2-43BE-9C00-E50A5A6C8D7B}">
                    <File Id="filD4D6AB197C7B096673F930535427786B" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\nl\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir21989BFF92788839A813E6BD05B4E026" Name="pl">
                <Component Id="cmp2B08E9F49E70994AD433A60E3F7B0BEB" Guid="{FEAC2DA7-FBFC-44C3-A762-6E0AE6A9A2AF}">
                    <File Id="filA54B32D27F233C7C8283785EDED604B7" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\pl\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir22B21054EA6650472394994548C8D815" Name="pt">
                <Component Id="cmp092F57310F36F676B6C8E8397742A26C" Guid="{E9965BA3-A9CD-4B8E-89A4-2362BF4D5467}">
                    <File Id="filE31F4F38C11AEEE51085DEB2F03C38BE" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\pt\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir018DA28F958AD633693D708EED8737E4" Name="pt-BR">
                <Component Id="cmp624BAAB1945C8547300753CB1BE04D2F" Guid="{A782DCAE-8976-432E-9B2A-F3924E5A295B}">
                    <File Id="filE0FBDBC75D47655E4E4B937D089A6A4F" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\pt-BR\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirD7F168AE7E2140C2AFD9C7E999CF79E1" Name="ru">
                <Component Id="cmpA4C0AEE73CF23CAC1F85DF3325071906" Guid="{4A0A0AA9-A33C-4E06-8AF6-3855B37D8343}">
                    <File Id="filB4EF5073568270FAC3FA05B5E9CC9533" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\ru\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir87D7C9C83B53FFBE05D144C750CBC9FA" Name="sk">
                <Component Id="cmp4131995471E81CAF43CA25A941AA1309" Guid="{E32085C0-1B54-41A8-86FD-AF59CBC656F4}">
                    <File Id="fil51F2FF4688BDA96458542E8AB4252A92" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\sk\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirCF5A8114DE3D476B3D414A1B48B20988" Name="sv">
                <Component Id="cmpD7962077D44195A7BCC3B8DC0B809152" Guid="{106F48E2-61B6-4BB4-BC2A-AB3ABC37C4DD}">
                    <File Id="filFA90139457939D319E71E1B5A11061DC" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\sv\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirF1E7F88F9C5F44DE50975BA01DEAF21E" Name="th">
                <Component Id="cmp344C9604A259DAB1C241685400F60C59" Guid="{E7199ACA-0115-4877-829C-547A4D5BE182}">
                    <File Id="fil9827FE8AA424E94EE3455E6A4427B100" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\th\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirC98B6E60883E9973639508E26AA40BC3" Name="tr">
                <Component Id="cmp1D08C460D6987792DC635727E811FC55" Guid="{7A0CB770-014C-4F73-A289-34E0792EACE0}">
                    <File Id="filE5830FEDD90EC9926F85B5A3B7E95893" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\tr\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir7D3A56698BA4558E7D105FEAFC74CB06" Name="zh">
                <Component Id="cmpFB11AB8C27CB0CC824707BF5FC281DEB" Guid="{726C26E3-9B54-4695-98C4-0C783B05112B}">
                    <File Id="fil76F96B6C812A297E50E6BD01B4C011FD" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\zh\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirA5F6E8CCFDF225B493B7CE1167F0EBF1" Name="zh-tw">
                <Component Id="cmpADCB01377702CFEE9215ABA07C18DBB5" Guid="{86E2D7D9-0EA0-408A-89E3-ED938A0A917C}">
                    <File Id="fil696FE2B3C66436774101EA3587397848" KeyPath="yes" Source="$(env.DisplayMagicianFilesDir)\zh-tw\AutoUpdater.NET.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DisplayMagician">
            <ComponentRef Id="cmpBD0A0533F40E0B874A023E467EE15884" />
            <ComponentRef Id="cmp1978460F20832AFD58CEFD336AAAA41B" />
            <ComponentRef Id="cmpB6DCEBC121FFE67E27945FC59FAF34EB" />
            <ComponentRef Id="cmp32E7E4241B870E8E1272B218DAFC18BD" />
            <ComponentRef Id="cmp0BFD48C29EF7E91136AE7ECB2562A439" />
            <ComponentRef Id="cmpC627D6669C8B7F6118B278B985611D23" />
            <ComponentRef Id="cmpCDC1AACC3E4B47262615C1CF34C96FDC" />
            <ComponentRef Id="cmpBC67EE8B6ADC74240F4BA176F17FA2E7" />
            <ComponentRef Id="cmp85F426B2D7B7BE110260F69908CF89DC" />
            <ComponentRef Id="cmp079376624ED9003D040D434FD0AD79FC" />
            <ComponentRef Id="cmpE03B764D1598084EA84F72C0DC54A5FE" />
            <ComponentRef Id="cmpFA9BAE6E0F706FE8C2FB87226A21172A" />
            <ComponentRef Id="cmp03435CB09F2E9F019BAA38AE75428254" />
            <ComponentRef Id="cmp2776B662029F8701F5335F0DF08E554F" />
            <ComponentRef Id="cmpA038AEB808EE721D74BCE483FE0CF5C4" />
            <ComponentRef Id="cmp04AD32E960B2A9FBA1822AE873954545" />
            <ComponentRef Id="cmp48136D75F10658FE78119AADF6F1725A" />
            <ComponentRef Id="cmpE3BF3E5AF0925FB86E3F382572243621" />
            <ComponentRef Id="cmp618EC65A5E4D9E8FEBB887B76DA4FD50" />
            <ComponentRef Id="cmp875F9AB6D5D996C61588EFA96C16CB26" />
            <ComponentRef Id="cmp1AE47A82DB5E00D1488DE0C214B82747" />
            <ComponentRef Id="cmp3C945FD02B7EBC852A737F0B9EA06402" />
            <ComponentRef Id="cmp9822C8E3EA9DED31B19647D3BEF403FF" />
            <ComponentRef Id="cmpECA87B17F9BBA2AE63349CE09D7514F3" />
            <ComponentRef Id="cmpC7A842805FA293C91E6B671E1E4857CB" />
            <ComponentRef Id="cmp49B14D6F63FD6F782375E764F888D9F6" />
            <ComponentRef Id="cmpE48528C4F5932A4EFD89F7331108F45D" />
            <ComponentRef Id="cmp0758E167CC73C057A0ECE2DC5E35F506" />
            <ComponentRef Id="cmp24DB16B950576B6883BCB451D9881EBC" />
            <ComponentRef Id="cmp46530108D41744F25886A5898DC5A274" />
            <ComponentRef Id="cmpE475EAC321A295365F62D280DFFFCFDD" />
            <ComponentRef Id="cmp35AEFE57A4E4F326AB35BB1BFAC10ABC" />
            <ComponentRef Id="cmpBF2E14544E7404D9716B1E616AFF1821" />
            <ComponentRef Id="cmpA97212A22F03B19D8D9FB95C1B706F67" />
            <ComponentRef Id="cmp7964C303BA027BE990A3E8327EC91498" />
            <ComponentRef Id="cmp5C0F2F2987EC8A4E1ABFC07281B44BC0" />
            <ComponentRef Id="cmp6C1CA4699436E48FBC65429D3DDE3729" />
            <ComponentRef Id="cmpCA92E5DFCB483577A26FEC321AFD558D" />
            <ComponentRef Id="cmp4533A51FA0E8641930679AD37424B8B9" />
            <ComponentRef Id="cmpB8E69B802F308C31E92E32AB958DAF68" />
            <ComponentRef Id="cmp7806D754FCAB20844210E15AE6C04EBE" />
            <ComponentRef Id="cmp040780EB1A6483479A96E102B7E22681" />
            <ComponentRef Id="cmpC488B4BB40BA5248FFBD28351333AEE2" />
            <ComponentRef Id="cmpB1D2F10332449DEAAAAE97A0E648E9C0" />
            <ComponentRef Id="cmpA69B8A712387D3B90D6813098B05C34A" />
            <ComponentRef Id="cmpC4DF80F866A83C22E8A0E9C8FC25C9C1" />
            <ComponentRef Id="cmp7C71840B04F7F507D8FA41923689CDF2" />
            <ComponentRef Id="cmp564BF443013A98EBC72A01B8D461D8B0" />
            <ComponentRef Id="cmp2B08E9F49E70994AD433A60E3F7B0BEB" />
            <ComponentRef Id="cmp092F57310F36F676B6C8E8397742A26C" />
            <ComponentRef Id="cmp624BAAB1945C8547300753CB1BE04D2F" />
            <ComponentRef Id="cmpA4C0AEE73CF23CAC1F85DF3325071906" />
            <ComponentRef Id="cmp4131995471E81CAF43CA25A941AA1309" />
            <ComponentRef Id="cmpD7962077D44195A7BCC3B8DC0B809152" />
            <ComponentRef Id="cmp344C9604A259DAB1C241685400F60C59" />
            <ComponentRef Id="cmp1D08C460D6987792DC635727E811FC55" />
            <ComponentRef Id="cmpFB11AB8C27CB0CC824707BF5FC281DEB" />
            <ComponentRef Id="cmpADCB01377702CFEE9215ABA07C18DBB5" />
        </ComponentGroup>
    </Fragment>
</Wix>