<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="DisplayMagicianSetup" Manufacturer="!(loc.ManufacturerName)" Version="!(bind.fileVersion.DisplayMagicianExe)" UpgradeCode="33E22B4C-982F-4B02-A3DE-085693742DB5">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="FilesComponents" />
    </Feature>
  </Package>
</Wix>
