<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal" xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Bundle Name="DisplayMagicianSetup v!(bind.packageVersion.DisplayMagicianPackage)" Manufacturer="LittleBitBig" Version="!(bind.packageVersion.DisplayMagicianPackage)" UpgradeCode="33E22B4C-982F-4B02-A3DE-085693742DB5"
		  IconSourceFile="DisplayMagician.ico" >
	  <BootstrapperApplication>
		<bal:WixInternalUIBootstrapperApplication />
	  </BootstrapperApplication>
	  
    <Chain>
		<PackageGroupRef Id="DotNetDesktopRedist" />
		<MsiPackage Id="DisplayMagicianPackage" SourceFile="..\DisplayMagicianPackage\bin\x64\Debug\en-US\DisplayMagicianPackage.msi" Vital="yes" />
    </Chain>

  </Bundle>
</Wix>
