<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">

  <Fragment>

    <netfx:DotNetCoreSearch
        RuntimeType="desktop"
        MajorVersion="10"
        Platform="x64"
        Variable="DOTNETDESKTOPVERSION" />

    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        MajorVersion="10"
        Platform="x64"
        Variable="ASPNETCOREVERSION" />

    <PackageGroup Id="DotNetDesktopRedist">

      <ExePackage
          Id="DotNetDesktop"
          DetectCondition="DOTNETDESKTOPVERSION &gt;= &quot;$(var.DotNetDesktopRuntimeVersion)&quot;"
          Permanent="yes"
          Vital="yes"
          InstallArguments="/install /quiet /norestart"
          RepairArguments="/repair /quiet /norestart"
          UninstallArguments="/uninstall /quiet /norestart">

        <ExePackagePayload
            Name="$(var.DotNetDesktopRuntimeFilename)"
            SourceFile="Packages\$(var.DotNetDesktopRuntimeFilename)" />

      </ExePackage>

      <ExePackage
          Id="AspNetCoreRuntime"
          DetectCondition="ASPNETCOREVERSION &gt;= &quot;$(var.AspNetCoreRuntimeVersion)&quot;"
          Permanent="yes"
          Vital="yes"
          InstallArguments="/install /quiet /norestart"
          RepairArguments="/repair /quiet /norestart"
          UninstallArguments="/uninstall /quiet /norestart">

        <ExePackagePayload
            Name="$(var.AspNetCoreRuntimeFilename)"
            SourceFile="Packages\$(var.AspNetCoreRuntimeFilename)" />

      </ExePackage>

    </PackageGroup>

  </Fragment>

</Wix>